body,
html {
  font-size: 12px;
  color: #000;
  overflow-x: hidden;
  font-family: 'Roboto-Regular';
  font-weight: normal;
  font-style: normal;
}
@media (min-width: 576px) {
  body,
  html {
    font-size: 13px;
  }
}
@media (min-width: 992px) {
  body,
  html {
    font-size: 16px;
  }
}
.no-scroll {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}
.main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F5F5F5;
}
.container-fluid {
  padding: 0;
}
.container__pt {
  padding-top: 4rem;
  min-height: 28.75rem;
}
.container__pt__pb--smaller {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.margin-right {
  margin-right: 1.875rem;
}
.margin-top {
  margin-top: 2rem;
}
.margin-top--mobile {
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .margin-top--mobile {
    margin-top: 0;
  }
}
.about-me--pb {
  padding-bottom: 2rem;
}
.hidden {
  visibility: hidden;
}
a {
  color: #000;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.browserupgrade {
  margin: 0.5em;
  padding: 2em 1em;
  background-color: #ED1F46;
  color: #FFF;
}
.browserupgrade a {
  color: #FFF;
  font-weight: 800;
}
.header {
  position: fixed;
  z-index: 9999;
  width: 105%;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .header {
    background-image: url("../img/bg/bg-grey-dotted.png");
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header {
    min-height: 12.5rem;
  }
}
@media (min-width: 992px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header--grey {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-image: url("../img/bg/bg-grey-dotted.png");
}
@media (max-width: 575px) {
  .logo {
    text-align: left;
  }
}
.logo__title,
.logo__desc {
  margin: 0;
}
.logo__title {
  margin-bottom: 0.313rem;
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
}
.logo__desc {
  font-family: 'Roboto Bold Italic';
  font-size: 1rem;
  font-weight: 700;
  font-style: italic;
}
.contacts__list {
  margin: 0;
  padding: 0;
  padding-top: 0.7rem;
  text-align: center;
  list-style: none;
}
@media (max-width: 575px) {
  .contacts__list {
    margin-left: 3rem;
    width: 90%;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .contacts__list {
    margin-left: -5rem;
  }
}
.contacts__link {
  position: relative;
  display: inline-block;
  padding: 0.125rem;
  font-family: 'Roboto Bold';
  font-weight: 700;
  font-size: 1rem;
  color: #0000FF;
}
.skype .contacts__link {
  margin-bottom: 1rem;
}
.skype .contacts__link::before,
.phone .contacts__link::before {
  position: absolute;
  content: "";
  top: -40%;
  width: 1.875rem;
  height: 1.875rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.phone .contacts__link::before {
  right: 9.1rem;
}
.skype .contacts__link::before {
  right: 9.2rem;
}
.skype .contacts__link::before {
  background-image: url("../img/icons/skype_icon.svg");
}
.phone .contacts__link::before {
  background-image: url("../img/icons/phone_icon.svg");
}
.menu {
  padding-right: 1.5625rem;
}
@media (min-width: 769px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
  }
}
.menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
  width: 100%;
}
@media (min-width: 769px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
  }
}
.menu__list--open {
  display: block;
  height: 100vh;
}
.menu__list__item {
  height: 1.875rem;
  line-height: 1.875rem;
  border-bottom: 0.0625rem solid #000;
  margin-top: 2rem;
}
@media (min-width: 769px) {
  .menu__list__item {
    border: none;
    margin-top: 0;
  }
}
.menu__list__item:not(:first-child) {
  margin-left: 0;
}
@media (min-width: 769px) {
  .menu__list__item:not(:first-child) {
    margin-left: 1.25rem;
  }
}
.menu__list__link {
  position: relative;
  padding: 0.2rem;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto Bold';
  font-size: 1rem;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}
@media (min-width: 769px) {
  .menu__list__link {
    padding: 0.938rem;
    text-transform: none;
  }
}
.menu__list__link:hover,
.menu__list__link:active {
  color: #00BFFF;
}
@media (min-width: 769px) {
  .menu__list__link:hover,
  .menu__list__link:active {
    color: #FFF;
    background-color: #696969;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border-radius: 3.125rem;
  }
}
.menu__list__link::before {
  display: none;
}
@media (min-width: 769px) {
  .menu__list__link::before {
    position: absolute;
    content: "";
    bottom: 0.75rem;
    left: 0.75rem;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border: 0.1875rem solid #000;
    border-width: 0 0 0.1875rem 0.1875rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 0;
  }
}
.menu__list__link::after {
  display: none;
}
@media (min-width: 769px) {
  .menu__list__link::after {
    position: absolute;
    content: "";
    top: 0.75rem;
    right: 0.75rem;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border: 0.1875rem solid #000;
    border-width: 0.1875rem 0.1875rem 0 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 0;
  }
}
.menu__list__link:hover::before {
  display: none;
}
@media (min-width: 769px) {
  .menu__list__link:hover::before {
    display: block;
    bottom: -0.5rem;
    left: -0.5rem;
    opacity: 1;
  }
}
.menu__list__link:hover::after {
  display: none;
}
@media (min-width: 769px) {
  .menu__list__link:hover::after {
    display: block;
    top: -0.5rem;
    right: -0.5rem;
    opacity: 1;
  }
}
.cmn-toggle-switch {
  position: absolute;
  z-index: 5;
  top: 1.4375rem;
  right: 1rem;
  display: block;
  margin: 0;
  padding: 0;
  width: 3.125rem;
  height: 2.8125rem;
  overflow: hidden;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background .3s;
  transition: background .3s;
}
@media (min-width: 768px) {
  .cmn-toggle-switch {
    display: none;
  }
}
.cmn-toggle-switch:focus {
  outline: none;
}
.cmn-toggle-switch span {
  position: absolute;
  top: 1.25rem;
  left: 0.3125rem;
  right: 0.3125rem;
  display: block;
  height: 0.375rem;
  background-color: #000;
}
.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  content: "";
  left: 0;
  display: block;
  width: 100%;
  height: 0.3125rem;
  background-color: #000;
}
.cmn-toggle-switch span::before {
  top: 0.75rem;
}
.cmn-toggle-switch span::after {
  bottom: 0.75rem;
}
.cmn-toggle-switch__htx {
  background-color: transparent;
}
.cmn-toggle-switch__htx span {
  -webkit-transition: background .3s;
  transition: background .3s;
}
.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: .3s, .3s;
          transition-duration: .3s, .3s;
  -webkit-transition-delay: .3s, 0;
          transition-delay: .3s, 0;
}
.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
}
.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform;
}
.cmn-toggle-switch__htx.active {
  position: fixed;
}
.cmn-toggle-switch__htx.active span {
  background: none;
}
.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, .3s;
          transition-delay: 0, .3s;
}
.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header__bg {
  position: relative;
  width: 100%;
  height: 46.875rem;
}
.header__bg__img {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
  background-image: url("../img/bg/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.quote {
  content: "";
  position: absolute;
  top: 40%;
  right: 75%;
  -webkit-transform: translateX(50%) translateY(50%);
          transform: translateX(50%) translateY(50%);
  width: 40%;
  font-family: 'Roboto Medium Italic';
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  color: #FFF;
}
@media (min-width: 320px) and (max-width: 767px) {
  .quote {
    top: 74%;
    right: 50%;
    text-align: center;
    width: 90%;
    -webkit-transform: translateX(50%) translateY(50%);
            transform: translateX(50%) translateY(50%);
  }
}
@media (min-width: 320px) and (max-width: 575px) {
  .quote {
    display: none;
  }
}
.timer {
  content: "";
  position: absolute;
  top: 30%;
  right: 3%;
  width: 50%;
  padding: 1rem;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3.125rem;
  background-color: rgba(0, 0, 0, 0.7);
}
@media (min-width: 320px) and (max-width: 767px) {
  .timer {
    top: 20%;
    right: 50%;
    width: 90%;
    -webkit-transform: translateX(50%) translateY(50%);
            transform: translateX(50%) translateY(50%);
  }
}
.timer__text,
.timer__title,
.timer__text--down {
  text-align: center;
  color: #fff;
}
.timer__text--down {
  margin: 0;
  margin-top: 3rem;
}
.timer__numbers {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  font-size: 1.875rem;
}
.timer__numbers > div {
  padding: 0.625rem;
  border-radius: 0.1875rem;
  display: inline-block;
}
.timer__numbers div > span {
  padding: 0.9375rem;
  border-radius: 0.1875rem;
  display: inline-block;
}
.smalltext {
  padding-top: 0.3125rem;
  font-size: 0.7rem;
}
@media (min-width: 425px) {
  .smalltext {
    font-size: 0.9rem;
  }
}
@media (min-width: 992px) {
  .smalltext {
    font-size: 1rem;
  }
}
.services {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../img/bg/services_bg.jpg");
  background-color: rgba(0, 0, 0, 0.7);
  background-repeat: no-repeat;
  background-position: 100% -10%;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}
@media (min-width: 768px) {
  .services {
    font-size: 1rem;
  }
}
.services::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.services__inner-wrap {
  position: relative;
}
.services__inner-wrap::before {
  position: absolute;
  content: "";
  z-index: 1000;
  top: 95%;
  left: -50%;
  width: 100%;
  height: 30%;
  background-color: #E6E6FA;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: skewY(8deg);
          transform: skewY(8deg);
}
.services__inner-wrap::after {
  position: absolute;
  content: "";
  z-index: 1000;
  top: 95%;
  right: -50%;
  width: 100%;
  height: 30%;
  background-color: #E6E6FA;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: skewY(-8deg);
          transform: skewY(-8deg);
}
.services__title {
  z-index: 1;
  margin: 0;
  margin-bottom: 1.5625rem;
  padding-top: 1.25rem;
  text-align: center;
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
}
@media (min-width: 576px) {
  .services__title {
    margin-bottom: 3.125rem;
  }
}
.services__card {
  padding: 0.625rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1.25rem;
  background-image: url("../img/bg/services-card-bg.jpeg");
  background-repeat: no-repeat;
  background-position: 100% 65%;
  background-size: cover;
  color: #000;
}
.services__card:nth-child(odd) {
  margin-bottom: 2rem;
}
@media (min-width: 992px) {
  .services__card:nth-child(odd) {
    margin-bottom: 0;
  }
}
.services__card:hover {
  cursor: default;
}
.services__card__desc {
  margin: 0;
  text-align: justify;
}
.services__card__title {
  margin: 1.25rem 0 1.25rem 0;
  text-align: center;
}
.services__card__img {
  position: relative;
  width: 9.375rem;
  height: 9.375rem;
  margin: 2.5rem 1.25rem 1.25rem 0;
  border-radius: 50%;
  float: left;
  shape-outside: circle();
  overflow: hidden;
}
.services__card__img-wrap::before,
.services__card__img-wrap::after {
  content: "";
  position: absolute;
  top: 7.72rem;
  left: 6.19rem;
  -webkit-transform: translate(-50%, -50%) rotate(0);
          transform: translate(-50%, -50%) rotate(0);
  border-radius: 50%;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}
@media (min-width: 320px) and (max-width: 575px) {
  .services__card__img-wrap::before,
  .services__card__img-wrap::after {
    left: 6.55rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .services__card__img-wrap::before,
  .services__card__img-wrap::after {
    left: 6.4rem;
  }
}
@media (min-width: 768px) {
  .services__card__img-wrap::before,
  .services__card__img-wrap::after {
    left: 6.45rem;
  }
}
@media (min-width: 992px) {
  .services__card__img-wrap::before,
  .services__card__img-wrap::after {
    left: 6.2rem;
  }
}
.services__card__img-wrap::before {
  width: 10rem;
  height: 10rem;
  border: 0.0625rem solid #786450;
  border-left-color: transparent;
}
.services__card__img-wrap::after {
  width: 9.375rem;
  height: 9.375rem;
  border: 0.0625rem solid #786450;
  border-right-color: transparent;
}
.services__card__img-wrap:hover::before {
  content: "";
  -webkit-transform: translate(-50%, -50%) rotate(360deg);
          transform: translate(-50%, -50%) rotate(360deg);
}
.services__card__img-wrap:hover::after {
  content: "";
  -webkit-transform: translate(-50%, -50%) rotate(-360deg);
          transform: translate(-50%, -50%) rotate(-360deg);
}
.services__first-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.25rem;
}
.services__second-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10rem;
}
.help {
  position: relative;
  z-index: 1000;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #E6E6FA;
}
@media (min-width: 320px) {
  .help {
    margin-top: -8rem;
  }
}
@media (min-width: 425px) {
  .help {
    margin-top: -7rem;
  }
}
@media (min-width: 768px) {
  .help {
    margin-top: -5rem;
  }
}
.help__first-row {
  margin-bottom: 2rem;
}
.help__second-row {
  margin-bottom: 2rem;
}
.help__card__title {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: bold;
}
@media (min-width: 320px) {
  .help__card__title {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .help__card__title {
    text-align: left;
  }
}
.principles {
  position: relative;
  padding-bottom: 2em;
  padding-top: 4rem;
}
.principles-img {
  display: none;
  margin-bottom: 1.25rem;
  text-align: center;
}
.principles-img--active {
  display: block;
}
.principles__title {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: bold;
  z-index: 1000;
  text-align: center;
}
.principles__article__title {
  margin: 0;
  text-align: center;
}
.principles__article {
  padding-top: 0.625rem;
  display: none;
}
.principles__article--active {
  display: block;
  padding-bottom: 3rem;
}
.about-me {
  position: relative;
  padding: 4rem 0 2rem;
  background-color: #E6E6FA;
}
.about-me__title {
  margin: 0;
  text-align: center;
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: bold;
}
.about-me__img__wrap {
  position: relative;
  width: 100%;
  height: auto;
}
.about-me__personal__photo {
  border: 0.625rem solid #fff;
  border-radius: 10px;
  border-bottom: 2.8125rem solid #fff;
  -webkit-box-shadow: 0 0.3125rem 0.3125rem 0.1875rem rgba(169, 169, 169, 0.8);
          box-shadow: 0 0.3125rem 0.3125rem 0.1875rem rgba(169, 169, 169, 0.8);
}
.about-me__personal__photo__text {
  position: absolute;
  bottom: 1.5%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Kaushanscript-Regular', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  color: #888;
}
@media (min-width: 576px) {
  .about-me__personal__photo__text {
    bottom: 3%;
  }
}
@media (min-width: 768px) {
  .about-me__personal__photo__text {
    bottom: 1.5%;
  }
}
@media (min-width: 768px) {
  .about-me__personal__photo__text {
    bottom: 2%;
  }
}
@media (min-width: 1200px) {
  .about-me__personal__photo__text {
    bottom: 2.7%;
  }
}
.about-me-tabs {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1rem;
  background-color: #FFF;
  -webkit-box-shadow: 0 0.3125rem 0.3125rem 0.1875rem rgba(169, 169, 169, 0.8);
          box-shadow: 0 0.3125rem 0.3125rem 0.1875rem rgba(169, 169, 169, 0.8);
}
.about-me-tabs label {
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.3125rem;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}
@media (min-width: 375px) {
  .about-me-tabs label {
    padding: 0.8rem 2rem;
  }
}
.tab {
  text-align: left;
  display: none;
}
.tab__input {
  display: none;
}
.tab__input label:hover,
.tab__input:checked + label {
  background: #EEE;
  -webkit-box-shadow: 0 0.2rem 0.2rem rgba(169, 169, 169, 0.8);
          box-shadow: 0 0.2rem 0.2rem rgba(169, 169, 169, 0.8);
}
.tab__title {
  font-family: 'Roboto-Bold';
  font-weight: bold;
  margin-top: 3rem;
}
#one:checked ~ .tab--one,
#two:checked ~ .tab--two,
#three:checked ~ .tab--three {
  display: block;
}
.footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #696969;
}
@media (min-width: 320px) and (max-width: 991px) {
  .footer {
    text-align: center;
    padding-top: 0;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .footer__logo {
    margin-bottom: 3rem;
  }
}
.footer__title {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  color: #FFF;
}
.footer__desc {
  font-family: 'Roboto Bold Italic';
  font-size: 1em;
  font-weight: 700;
  font-style: italic;
  color: #FFF;
}
.footer-contacts__link {
  margin-top: 2rem;
  color: #FFF;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.footer-contacts__link:hover {
  color: #0000FF;
}
.footer-contacts__link:first-child {
  margin-bottom: 0.5rem;
}
@media (min-width: 992px) {
  .footer-contacts__link:first-child {
    margin-bottom: 0;
  }
}
.social__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}
.social__list__item {
  width: 3.75rem;
  height: 3.75rem;
  padding: 0.3125rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  background-color: #FFF;
  -webkit-box-shadow: 0 0.625rem 0.9375rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.625rem 0.9375rem rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.social__list__item:not(:last-child) {
  margin-right: 0.8rem;
}
.social__list__item:hover {
  -webkit-box-shadow: 0 0.125rem 0.3125rem 0.125rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.125rem 0.3125rem 0.125rem rgba(0, 0, 0, 0.3);
}
.social__list__link {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 3.125rem;
  height: 3.125rem;
  padding: 0.625rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  border: 0.0625rem solid #eeeeee;
  background: -webkit-gradient(linear, left top, left bottom, from(#808080), to(#f5f5f5));
  background: linear-gradient(#808080, #f5f5f5);
}
.facebook__link::before,
.telegram__link::before,
.instagram__link::before,
.vkontakte__link::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1.875rem;
  height: 1.875rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.facebook__link::before {
  background-image: url("../img/icons/facebook_icon.svg");
}
.facebook__link:hover::before,
.telegram__link:hover::before,
.instagram__link:hover::before,
.vkontakte__link:hover::before {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.facebook__link:hover::before {
  background-image: url("../img/icons/facebook_icon_color.svg");
}
.telegram__link::before {
  background-image: url("../img/icons/telegram_icon.svg");
}
.telegram__link:hover::before {
  background-image: url("../img/icons/telegram_icon_color.svg");
}
.instagram__link::before {
  background-image: url("../img/icons/instagram_icon.svg");
}
.instagram__link:hover::before {
  background-image: url("../img/icons/instagram_icon_color.svg");
}
.vkontakte__link::before {
  background-image: url("../img/icons/vk_icon.svg");
}
.vkontakte__link:hover::before {
  background-image: url("../img/icons/vk_icon_color.svg");
}
.copyright-block {
  margin: 0;
  padding-top: 1.5rem;
  text-align: center;
  color: #FFF;
}
.advert__title {
  margin: 0;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
}
@media (min-width: 320px) and (max-width: 991px) {
  .advert__title {
    margin-top: 2rem;
  }
}
.btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10rem;
}
.site-order-btn {
  display: block;
  margin-top: 1.875rem;
  padding: 0.9375rem 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 2rem;
  background-color: #FFF;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.site-order-btn:hover,
.site-order-btn:focus,
.site-order-btn:active {
  -webkit-box-shadow: 0 0.625rem 0.9375rem #000000;
          box-shadow: 0 0.625rem 0.9375rem #000000;
  background-color: #778899;
  color: #FFF;
}
.contact-form__link {
  margin: 0;
  margin-top: 2rem;
  text-align: center;
  cursor: pointer;
}
.gallery {
  text-align: center;
  background-image: url("../img/bg/gallery-bg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.first-order {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
@media (min-width: 992px) {
  .first-order {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.loaderArea {
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #ff4e50), color-stop(90%, #f9d423));
  background: linear-gradient(90deg, #ff4e50 10%, #f9d423 90%);
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2.5rem;
  width: 2.5rem;
  margin-left: -1.25rem;
  margin-top: -1.25rem;
}
.loader:before,
.loader:after {
  position: absolute;
  content: "";
  top: 0;
  height: 2.5rem;
  width: 2.5rem;
  border: 0.5rem solid rgba(255, 255, 255, 0.5);
  border-radius: 0.625rem;
}
.loader:before {
  -webkit-animation: animate 2s infinite linear;
          animation: animate 2s infinite linear;
}
@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0) skew(0);
            transform: rotate(0) skew(0);
  }
  100% {
    -webkit-transform: rotate(180deg) skew(360deg);
            transform: rotate(180deg) skew(360deg);
  }
}
@keyframes animate {
  0% {
    -webkit-transform: rotate(0) skew(0);
            transform: rotate(0) skew(0);
  }
  100% {
    -webkit-transform: rotate(180deg) skew(360deg);
            transform: rotate(180deg) skew(360deg);
  }
}
.loader:after {
  -webkit-animation: animate-two 2s infinite linear;
          animation: animate-two 2s infinite linear;
}
@-webkit-keyframes animate-two {
  0% {
    -webkit-transform: rotate(0) skew(0);
            transform: rotate(0) skew(0);
  }
  100% {
    -webkit-transform: rotate(-180deg) skew(-360deg);
            transform: rotate(-180deg) skew(-360deg);
  }
}
@keyframes animate-two {
  0% {
    -webkit-transform: rotate(0) skew(0);
            transform: rotate(0) skew(0);
  }
  100% {
    -webkit-transform: rotate(-180deg) skew(-360deg);
            transform: rotate(-180deg) skew(-360deg);
  }
}
.contact-form__overlay {
  position: fixed;
  z-index: 90000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.contact-form__overlay .contact-form__wrap {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border-radius: 0.625rem;
  background-color: grey;
}
@media (min-width: 768px) {
  .contact-form__overlay .contact-form__wrap {
    width: 60%;
  }
}
@media (min-width: 992px) {
  .contact-form__overlay .contact-form__wrap {
    width: 50%;
  }
}
.contact-form__overlay .contact-form__wrap .contact-form {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 1.25rem;
}
.contact-form__overlay .contact-form__wrap .contact-form__title {
  text-align: center;
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  color: #FFF;
}
.contact-form__overlay .contact-form__wrap .contact-form__close::before {
  position: absolute;
  content: "";
  top: 0.625rem;
  right: 0.625rem;
  width: 1.875rem;
  height: 1.875rem;
  background-image: url("../img/icons/close-button.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.contact-form__overlay .contact-form__wrap .contact-form__input {
  width: 100%;
  margin-bottom: 0.625rem;
  padding: 0.625rem 1.1875rem;
  color: #00599A;
  font-size: 1rem;
  font-weight: bold;
  border: 0.1875rem solid #FFF;
  border-radius: 0.5rem;
  background-color: #FFF;
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}
.contact-form__overlay .contact-form__wrap .contact-form__input:hover,
.contact-form__overlay .contact-form__wrap .contact-form__input:active,
.contact-form__overlay .contact-form__wrap .contact-form__input:focus {
  border: 0.1875rem solid #a2d1f4;
}
.contact-form__overlay .contact-form__wrap .contact-form__textarea {
  width: 100%;
  height: 8rem;
  margin-bottom: 0.3125rem;
  padding: 10px 19px;
  color: #00599A;
  font-size: 1rem;
  font-weight: 700;
  border: 0.1875rem solid #FFF;
  border-radius: 0.5rem;
  background-color: #FFF;
}
.contact-form__overlay .contact-form__wrap .contact-form__textarea:hover,
.contact-form__overlay .contact-form__wrap .contact-form__textarea:active,
.contact-form__overlay .contact-form__wrap .contact-form__textarea:focus {
  border: 0.1875rem solid #a2d1f4;
}
.contact-form__overlay .contact-form__wrap .contact-form__submit {
  width: 50%;
  padding: 0.5rem 2.9375rem 0.75rem;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  color: #FFF;
  border: 0.25rem solid #FFF;
  border-radius: 5rem;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.contact-form__overlay .contact-form__wrap .contact-form__submit:hover,
.contact-form__overlay .contact-form__wrap .contact-form__submit:focus {
  color: #065A97;
  background-color: #FFF;
  border-color: #FFF;
}
.contact-form__overlay .contact-form__wrap .contact-form__submit:active {
  color: #FFE400;
  border-color: #FFE400;
  background-color: transparent;
}
@media (min-width: 768px) {
  .contact-form__overlay .contact-form__wrap .contact-form__submit {
    width: auto;
    display: inline-block;
    font-size: 1.25rem;
  }
}
@media (min-width: 1200px) {
  .contact-form__overlay .contact-form__wrap .contact-form__submit {
    font-size: 1.375rem;
  }
}
.contact-form__overlay .contact-form__wrap .contact-form__success {
  background-color: #FFF;
  position: relative;
  display: block;
  border-radius: 0.5rem;
  color: #4CAF50;
  padding: 0.3125rem 0.9375rem 0.5rem;
  font-weight: 700;
  margin-bottom: 0.9375rem;
  margin-top: 0.125rem;
  font-size: 1.25rem;
}
label.error {
  position: relative;
  display: block;
  padding: 0.3125rem 0.9375rem 0.5rem;
  margin-bottom: 0.9375rem;
  margin-top: 0.125rem;
  font-weight: 700;
  background-color: #C62828;
  border-radius: 0.5rem;
  color: #FFF;
}
label.error::after {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 1.25rem;
  margin-left: -0.75rem;
  width: 0;
  height: 0;
  border-bottom: 0.75rem solid #C62828;
  border-right: 0.75rem solid transparent;
  border-left: 0.75rem solid transparent;
}
.skype-phone__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.skype-phone__wrap input:first-child {
  margin-right: 0.3125rem;
}
.contact-form__open {
  color: #FFF;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.contact-form__open:hover {
  color: #0000FF;
}
.contact-form__title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
