.about-me {
	position: relative;
	padding: 4rem 0 2rem;
	background-color: #E6E6FA;

	&__title {
		margin: 0;
		text-align: center;
		.roboto-bold;
	}

	&__img-wrap {
		position: relative;
		width: 100%;
		height: auto;
	}

	&__personal-photo {
		display: none;
		border: 0.625rem solid #fff;
		border-radius: 10px;
	 	border-bottom: 2.8125rem solid #fff;
		box-shadow: 0 0.3125rem 0.3125rem 0.1875rem rgba(169, 169, 169, .8);

		&--active {
			display: block;
			animation-name: fadeInLeft;
			animation-duration: 1s;
		}
	}

	&__personal__photo__text {
		position: absolute;
		bottom: 1.5%;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		font-family: 'Kaushanscript-Regular', cursive;
		font-weight: 400;
		font-style: normal;
		font-size: 1.125rem;
		color: #888;

		@media (min-width: 576px) {
			bottom: 3%;
		}

		@media (min-width: 768px) {
			bottom: 1.5%;
		}

		@media (min-width: 768px) {
			bottom: 2%;
		}

		@media (min-width: 1200px) {
			bottom: 2.7%;
		}
	}
}

.about-me-tabs {
	margin: 0 auto;
	padding: 1rem;
	text-align: center;
	box-sizing: border-box;
	border-radius: 1rem;
	background-color: #FFF;
	box-shadow: 0 0.3125rem 0.3125rem 0.1875rem rgba(169, 169, 169, .8);

	label {
		padding: 0.5rem 1.5rem;
		margin-bottom: 1rem;
		border-radius: 0.3125rem;
		font-size: 1.5rem;
	    cursor: pointer;
	    .roboto-bold;

	    @media (min-width: 375px) {
	    	padding: 0.8rem 2rem;
	    }
	}
}

.tab {
	text-align: left;
	display: none;

	&__input {
		display: none;

		label:hover,
		&:checked + label {
			background: #EEE;
			box-shadow: 0 0.2rem 0.2rem rgba(169, 169, 169, .8);
		}
	}

	&__title {
		margin-top: 3rem;
		animation-name: fadeInRight;
		animation-duration: 1s;
		.roboto-bold;
	}

	&__text {
		animation-name: fadeInDown;
		animation-duration: 1s;
	}
}

#one:checked ~ .tab--one,
#two:checked ~ .tab--two,
#three:checked ~ .tab--three {
	display: block;
}