.services {
	position: relative;
	padding-top: 3rem;
	padding-bottom: 3rem;
	box-sizing: border-box;
	background-image: url("../img/bg/services_bg.jpg");
	background-color: rgba(0,0,0,.7);
	background-repeat: no-repeat;
	background-position: 100% -10%;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;

	@media (min-width: 768px) {
		font-size: 1rem;
	}

	&::before {
		position: absolute;
		content: "";
		z-index: 0;
		display: block;
		overflow: hidden;
		left: 0;
		top: 0;
	    width: 100%;
	    height: 155%;
		background-color: rgba(0, 0, 0, 0.5);
	}

	&__inner-wrap {
		position: relative;

		&::before {
			position: absolute;
			content: "";
			z-index: 1000;
		    top: 95%;
		    left: -50%;
		    width: 100%;
		    height: 30%;
			background-color: #E6E6FA;
			transform-origin: right;
			transform: skewY(8deg);
		}

		&::after {
			position: absolute;
			content: "";
			z-index: 1000;
		    top: 95%;
		    right: -50%;
		    width: 100%;
		    height: 30%;
			background-color: #E6E6FA;
			transform-origin: left;
			transform: skewY(-8deg);
		}
	}

	&__title {
		z-index: 1;
		margin: 0;
		margin-bottom: 1.5625rem;
		padding-top: 1.25rem;
		text-align: center;
		font-family: 'Roboto-Bold';
		font-style: normal;
		font-weight: bold;
		font-size: 1.5rem;
	    color: #fff;

	    @media (min-width: 576px) {
			margin-bottom: 3.125rem;
		}
	}

	&__card {
		padding: 0.625rem;
		box-sizing: border-box;
		border-radius: 1.25rem;
		background-image: url("../img/bg/services-card-bg.jpeg");
		background-repeat: no-repeat;
		background-position: 100% 65%;
		background-size: cover;
		color: #000;

		&:nth-child(odd) {
			margin-bottom: 2rem;

			@media (min-width: 992px) {
				margin-bottom: 0;
			}
		}

		&:hover {
			cursor: default;
		}

		&__desc {
			margin: 0;
			text-align: justify;
		}

		&__title {
			margin: 1.25rem 0 1.25rem 0;
			text-align: center;
		}

		&__img {
			position: relative;
			width: 9.375rem;
			height: 9.375rem;
			margin: 2.5rem 1.25rem 1.25rem 0;
			border-radius: 50%;
			float: left;
			shape-outside: circle();
			overflow: hidden;

			&-wrap::before,
			&-wrap::after {
				content: "";
				position: absolute;
				top: 7.72rem;
				left: 6.19rem;
				transform: translate(-50%, -50%) rotate(0);
				border-radius: 50%;
				transition: all 1.5s ease-in-out;

				@media (min-width: 320px) and (max-width: 575px) {
						left: 6.55rem;
				}

				@media (min-width: 576px) and (max-width: 767px) {
						left: 6.4rem;
				}

				@media (min-width: 768px) {
						left: 6.45rem;
				}

				@media (min-width: 992px) {
						left: 6.2rem;
				}
			}

			&-wrap::before {
				width: 10rem;
				height: 10rem;
				border: 0.0625rem solid #786450;
				border-left-color: transparent;
			}

			&-wrap::after {
				width: 9.375rem;
				height: 9.375rem;
				border: 0.0625rem solid #786450;
				border-right-color: transparent;
			}

			&-wrap:hover::before {
				content: "";
 	 			transform: translate(-50%, -50%) rotate(360deg);
			}

			&-wrap:hover::after {
				content: "";
  				transform: translate(-50%, -50%) rotate(-360deg);
			}
		}
	}

	&__first-row  {
		justify-content: center;
		margin-bottom: 1.25rem;
	}

	&__second-row {
		justify-content: center;
		padding-bottom: 10rem;
	}
}
