@font-face {
  font-family: 'Roboto-Regular';
  src: url('roboto-regular.woff') format('woff'),
       url('roboto-regular.ttf') format('truetype'),
       url('roboto-regular.svg#roboto-regular') format('svg'),
       url('roboto.eot'),
       url('roboto.woff2') format('woff2'),
       url('roboto.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('roboto-bold.woff') format('woff'),
       url('roboto-bold.ttf') format('truetype'),
       url('roboto-bold.svg#roboto-bold') format('svg'),
       url('robotobold.eot'),
       url('robotobold.woff2') format('woff2'),
       url('robotobold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}
