@font-face {
  font-family: 'Kaushanscript-Regular';
  src: url('kaushanscript-regular.woff') format('woff'),
       url('kaushanscript-regular.ttf') format('truetype'),
       url('kaushanscript-regular.svg#kaushanscript-regular') format('svg'),
       url('kaushanscript.eot'),
       url('kaushanscript.woff2') format('woff2'),
       url('kaushanscript.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



